*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
target/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#intelliJ IDEA files
.idea/*
*.iml

#javadocs
javadoc/

#form script compiled files
src/main/webapp/javascript/formscript/**/*.min.js
src/main/webapp/javascript/formscript/**/*.min.js.map
src/main/webapp/javascript/custom/**/*.min.js
src/main/webapp/javascript/custom/**/*.min.js.map

#less compiled files
src/main/webapp/styles/formscript/**/*.css
src/main/webapp/styles/custom/**/*.css

#eclipse files
.project
.springBeans
.classpath
.settings/