<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="applicationContextProvider" class="com.client.core.ApplicationContextProvider"></bean>

	<context:property-placeholder location="classpath*:*-${profile}.properties" />

	<context:annotation-config />
	<context:component-scan base-package="com.client.core" />

	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

	<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
	</bean>

	<!-- *******************DataSource ************************ -->

	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="validationQuery" value="SELECT 1" />
		<property name="testOnBorrow" value="true" />
		<property name="initialSize" value="2" />
		<property name="maxActive" value="8" />
	</bean>

	<bean id="dataSourceLog" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.logdriverClassName}" />
		<property name="url" value="${jdbc.logdburl}" />
		<property name="username" value="${jdbc.logdbusername}" />
		<property name="password" value="${jdbc.logdbpassword}" />
		<property name="validationQuery" value="SELECT 1" />
		<property name="testOnBorrow" value="true" />
		<property name="initialSize" value="2" />
		<property name="maxActive" value="8" />
	</bean>

	<!-- Enable transaction management -->
	<tx:annotation-driven />

	<!-- Specify JPA EntityManager beans -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="packagesToScan">
			<list>
			</list>
		</property>
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
				<property name="showSql" value="${hibernate.showSql}" />
				<property name="generateDdl" value="${hibernate.generateDdl}" />
			</bean>
		</property>
        <property name="persistenceUnitName" value="mainPersistenceUnit" />
	</bean>

    <bean id="entityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>


	<!-- DAO BEANS -->
	<bean id="bullhornLogDAO" class="com.client.core.scheduledtasks.dao.impl.BullhornLogDAOImpl">
		<property name="dataSource" ref="dataSourceLog" />
	</bean>

    <bean id="sessionFilter" class="com.client.core.SessionFilter">
        <constructor-arg ref="appSettings" />
    </bean>

	<bean id="appSettings" class="com.client.core.ApplicationSettings">
        <property name="profileName" value="${profilename}" />
		<property name="username" value="${apiusername}" />
		<property name="password" value="${apipassword}" />
		<property name="apiKey" value="${apikey}" />
		<property name="apiUrl" value="${apiurl}" />
		<property name="apiUserID" value="${apiUserID}" />
		<property name="privateLabelID" value="${privateLabelID}" />
		<property name="numEventThreads" value="${numEventThreads}" />
        <property name="numEventsPerBatch" value="${numEventsPerBatch}" />
		<property name="corporationID" value="${corporationID}" />
		<property name="applicationDateFormat" value="${applicationDateFormat}" />
        <property name="applicationTimeFormat" value="${applicationTimeFormat}" />
		<property name="standardCronExpression" value="${standardCronExpression}" />
		<property name="standardSubscriptionName" value="${standardSubscriptionName}" />
	</bean>

	<bean id="bullhornRestCredentials" class="com.bullhornsdk.data.api.BullhornRestCredentials">
		<property name="username" value="${apiusername}" />
		<property name="password" value="${apipassword}" />
		<property name="restClientId" value="${rest.clientId}" />
		<property name="restClientSecret" value="${rest.clientSecret}" />
		<property name="restSessionMinutesToLive" value="${rest.sessionMinutesToLive}" />
	</bean>

    <bean id="mailSettings" class="com.client.core.email.MailSettings">
        <property name="host" value="${mail.host}" />
        <property name="port" value="${mail.port}" />
        <property name="username" value="${mail.username}" />
        <property name="password" value="${mail.password}" />
        <property name="sender" value="${mail.sender}" />
        <property name="senderName" value="${mail.senderName}" />
        <property name="disabled" value="${mail.disabled}" />
        <property name="routeToWhenDisabled" value="${mail.routeToWhenDisabled}" />
    </bean>

	<bean id="bullhornapi" class="com.client.core.soap.service.impl.BullhornAPISoap">
		<constructor-arg ref="appSettings" />
	</bean>

	<bean id="bullhornData" class="com.bullhornsdk.data.api.StandardBullhornData">
        <constructor-arg ref="bullhornRestCredentials" />
	</bean>

	<bean id="messageSource" class="com.client.core.base.tools.context.CustomReloadableResourceBundleMessageSource">
		<property name="basenames" value="classpath*:messages*" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="useCodeAsDefaultMessage" value="true" />
		<property name="cacheSeconds" value="-1" />
	</bean>

	<bean id="queryHelper" class="com.client.core.base.tools.query.impl.MessageSourceQueryHelper">
		<constructor-arg>
            <bean class="com.client.core.base.tools.context.CustomReloadableResourceBundleMessageSource">
                <property name="basenames" value="classpath*:queries*" />
                <property name="defaultEncoding" value="UTF-8" />
                <property name="useCodeAsDefaultMessage" value="true" />
                <property name="cacheSeconds" value="-1" />
            </bean>
        </constructor-arg>
	</bean>

	<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="lang" />
	</bean>

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="en_US" />
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1048576" />
		<property name="maxInMemorySize" value="2097152" />
	</bean>

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="errorHandler" ref="customResponseErrorHandler" />
	</bean>

	<bean id="customResponseErrorHandler" class="com.bullhornsdk.data.exception.CustomResponseErrorHandler" />

    <bean id="emailTemplateResolver" class="org.thymeleaf.templateresolver.ClassLoaderTemplateResolver">
        <property name="prefix" value="templates/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML" />
        <property name="characterEncoding" value="UTF-8" />
        <property name="order" value="1" />
    </bean>

    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolvers">
            <set>
                <ref bean="emailTemplateResolver" />
            </set>
        </property>
    </bean>

</beans>
