<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/jdbc 
    http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<bean id="testUtil" class="com.client.core.base.tools.test.TestUtil">
		<property name="testEntities" ref="testEntities" />
	</bean>

    <bean id="testEntities" class="com.client.core.base.tools.test.TestEntities">
        <property name="appointmentId" value="1" />
        <property name="appointmentAttendeeId" value="1" />
        <property name="businessSectorId" value="1" />
        <property name="candidateId" value="1" />
        <property name="candidateEducationId" value="1" />
        <property name="candidateReferenceId" value="1" />
        <property name="candidateWorkHistoryId" value="1" />
        <property name="categoryId" value="1" />
        <property name="certificationId" value="1" />
        <property name="clientContactId" value="1" />
        <property name="clientCorporationId" value="1" />
        <property name="corporateUserId" value="1" />
        <property name="corporationDepartmentId" value="1" />
        <property name="countryId" value="1" />
        <property name="housingComplexId" value="1" />
        <property name="jobOrderId" value="1" />
        <property name="jobSubmissionId" value="1" />
        <property name="jobSubmissionHistoryId" value="1" />
        <property name="noteId" value="1" />
        <property name="noteEntityId" value="1" />
        <property name="placementId" value="1" />
        <property name="placementChangeRequestId" value="1" />
        <property name="placementCommissionId" value="1" />
        <property name="sendoutId" value="1" />
        <property name="skillId" value="1" />
        <property name="specialtyId" value="1" />
        <property name="stateId" value="1" />
        <property name="taskId" value="1" />
        <property name="timeUnitId" value="1" />
    </bean>

	<beans profile="cloudtesting">
	
		<bean id="bullhornapi" class="com.client.core.soap.EmbeddedBullhornAPISoap">
			<constructor-arg ref="appSettings" />
			<constructor-arg ref="testEntities" />
		</bean>
		
		<bean id="bullhornData" class="com.bullhornsdk.data.api.mock.MockBullhornData"/>
		
	</beans>

	<beans profile="localtesting">

		<bean id="bullhornapi" class="com.client.core.soap.EmbeddedBullhornAPISoap">
			<constructor-arg ref="appSettings" />
			<constructor-arg ref="testEntities" />
		</bean>
		
		<bean id="bullhornData" class="com.bullhornsdk.data.api.mock.MockBullhornData"/>
		
		<!-- Test embedded db setup for the different modules. This entire applicationContext-test.xml 
			file is using the profile=testing The embedded db is not YET in use -->
		<bean id="abstractEntityFactory" abstract="true" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
			<property name="jpaVendorAdapter" ref="jpaVendorAdapterHsql" />
			<property name="jpaProperties">
				<props>
					<prop key="hibernate.hbm2ddl.auto">create</prop>
					<prop key="hibernate.show_sql">true</prop>
					<prop key="hibernate.format_sql">true</prop>
				</props>
			</property>
		</bean>


		<!-- CORE -->

		<bean id="entityManagerFactory"
			class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
			parent="abstractEntityFactory">
			<property name="packagesToScan">
				<list>
				</list>
			</property>
			<property name="dataSource" ref="dataSource" />
		</bean>

        <bean id="entityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
            <property name="entityManagerFactory" ref="entityManagerFactory" />
        </bean>
		

		<bean id="jpaVendorAdapterHsql" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			<property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect" />
			<property name="showSql" value="true" />
			<property name="generateDdl" value="false" />
			<property name="database" value="HSQL" />
		</bean>

		<jdbc:embedded-database id="dataSource"/>

	</beans>
</beans>
