<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Archetype Created Web Application</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/error.html</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/error.html</location>
	</error-page>
	
	<error-page>
		<error-code>401</error-code>
		<location>/authentication-error.html</location>
	</error-page>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:applicationContext.xml
            classpath*:*-workflow.xml
            classpath*:*-config.xml
            classpath*:*-applicationContext.xml
            classpath*:*-scheduledtasks.xml
            classpath*:*-test.xml
        </param-value>
    </context-param>

    <!-- ******************** FILTERS ******************** -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>corsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>corsFilter</filter-name>
		<url-pattern>/main/formtrigger/*</url-pattern>
	</filter-mapping>
    <filter-mapping>
        <filter-name>corsFilter</filter-name>
        <url-pattern>/styles/formscript/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>corsFilter</filter-name>
        <url-pattern>/javascript/formscript/*</url-pattern>
    </filter-mapping>

	<filter>
		<filter-name>sessionFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/main/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- ******************** SESSION ******************** -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>
